<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN" "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
  
  <bean id="JndiConnection" class="org.oa3.auxil.connector.jndi.JNDIConnection">
    <property name="initialContextFactory" value="org.jnp.interfaces.NamingContextFactory"/>
    <property name="providerUrl" value="jnp://localhost:1099"/>
  </bean>
  
  <bean id="JmsConnection" class="org.oa3.auxil.connector.jms.JMSConnection">
    <property name="jndiConnection" ref="JndiConnection"/>
    <property name="connectionFactoryName" value="ConnectionFactory"/>
    <property name="destinationName" value="queue/testQueue"/>
    <property name="queue" value="true"/>
    <property name="durable" value="true"/>
  </bean>
  
  <bean id="Publisher" class="org.oa3.core.adaptor.Adaptor">
    <property name="routingMap">
      <bean class="org.oa3.core.router.RoutingMap">
        <property name="processMap">
          <map>
            <entry key-ref="TestInpoint" value-ref="JmsPublisher"/>
          </map>
        </property>
      </bean>
    </property>
  </bean>
  
  <bean id="TestInpoint" class="org.oa3.core.connector.TestReadConnector">
    <property name="dataString" value="foobar"/>
  </bean>
  
  <bean id="JmsPublisher" class="org.oa3.auxil.connector.jms.JMSWriteConnector">
    <property name="jmsConnection" ref="JmsConnection"/>
  </bean>
  
  <bean id="Subscriber" class="org.oa3.core.adaptor.Adaptor">
    <property name="routingMap">
      <bean class="org.oa3.core.router.RoutingMap">
        <property name="processMap">
          <map>
            <entry key-ref="JmsSubscriber" value-ref="TestOutpoint"/>
          </map>
        </property>
      </bean>
    </property>
  </bean>
  
  <bean id="JmsSubscriber" class="org.oa3.auxil.connector.jms.JMSReadConnector">
    <property name="jmsConnection" ref="JmsConnection"/>
  </bean>
  
  <bean id="TestOutpoint" class="org.oa3.core.connector.TestWriteConnector">
    <property name="expectedOutput" value="foobar"/>
  </bean>
  
</beans>